.mainBlock {
    height: 100vh;
    background-color: #efd4d8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    flex-wrap: wrap;
}


.info {
    width: 500px;
    background-color: gainsboro;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: gainsboro;
}