.optionsWrapper {
    height: 25vh;
    width: 100%;
    background-color: #e2facd;
    padding-top: 80px;
}

.optionsContainer {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

